@media (min-width: 447px) and (max-width:597px){
    .contenedor-inicio-sesion{
        width: 400px;
        height: 550px;
    }
    
    .inicio-sesion-titulo{
        padding: 0px 0px 5px 10px;
        gap: 0px;
    }

    .inicio-sesion-texto h2{
        font-size: 20px;
    }

    .imagen{
        width: 400px;
        height: 550px;
    }

    .inicio-sesion-info{
        gap: 10px;
    }

    .inicio-sesion-info input{
        font-size: 12px;
        width: 170px;
    }

    .boton-login{
        font-size: 12px;
        width: 170px;
    }
}

@media (min-width: 320px) and (max-width:447px){
    .contenedor-inicio-sesion{
        width: 300px;
        height: 550px;
    }
    
    .inicio-sesion-titulo{
        padding: 0px 0px 5px 10px;
        gap: 0px;
    }

    .inicio-sesion-texto h2{
        font-size: 20px;
    }

    .imagen{
        width: 300px;
        height: 550px;
    }

    .inicio-sesion-info{
        gap: 10px;
    }

    .inicio-sesion-info input{
        font-size: 12px;
        width: 170px;
    }

    .boton-login{
        font-size: 12px;
        width: 170px;
    }
}