@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;800;900&display=swap');

/* Reseteo de las variables */
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
    font-family: "Poppins", sans-serif;
    /* border: 1px solid red; */
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
}

#inicio-sesion{
    margin-top: 12%;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
}

.imagen{
    position: absolute;
    width: 500px;
    height: 600px;
    /* top: 140px; */
    opacity: 0.3;
    z-index: -1;
    border-radius: 10px ;
}


.contenedor-inicio-sesion{
    display: flex;
    flex-direction: column;
    padding: 20px 20px 50px 10px;
    gap: 30px;
    border: 1px solid rgb(74, 74, 74);
    border-radius: 10px;
    width: 500px;
    height: 600px;
    /* background-image: url(./img/imagen-PC.jpg);
    background-position: center;
    background-size: cover; */
    /* background-color: red; */
}

.inicio-sesion-titulo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 39px;
    border-bottom: 1px solid rgb(74, 74, 74);
    padding: 0px 0px 5px 10px;
}

.icono{
    position: relative;
    right: 20%;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.inicio-sesion-texto{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.inicio-sesion-texto h2{
    color: white;
    font-weight: 500;
}

.inicio-sesion-texto img{
    width: 14.5%;
    filter: brightness(10);
}


.inicio-sesion-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.inicio-sesion-info input{
    padding: 10px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
    color: white;
    outline: none;
    width: 50%;
}

.inicio-sesion-botones{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.boton-login{
    width: 50%;
    padding: 5px 0px;
    background-color: black;
    color: white;
    border: 1px solid rgb(74, 74, 74);
    cursor: pointer;
    transition: all 0.5s ease;
}

.boton-contraseña{
    width: 50%;
    padding: 5px 0px;
    background-color: black;
    color: white;
    border: 1px solid rgb(74, 74, 74);
    cursor: pointer;
    transition: all 0.5s ease;
}

.boton-login:hover{
    background-color: white;
    border: 1px solid black;
    color: black;
}

.boton-contraseña:hover{
    background-color: white;
    border: 1px solid black;
    color: black;
}

.inicio-sesion-crear-cuenta{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* gap: 20px; */
}

.inicio-sesion-crear-cuenta a{
    /* (175,175,175) */
    color: rgb(94, 94, 94);
    cursor: pointer;
    transition: all 0.5s ease;
}

.inicio-sesion-crear-cuenta a:hover{
    color: white;
}